{% extends 'main/base.html' %}

{% block content %}
<h2 class="text-center up">Profile</h2>
<div class="profile-info">
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Date joined:</strong> {{ user.date_joined }}</p>
    <a href="{% url 'profile_edit' %}" class="btn btn-primary">Edit Profile</a>
    <a href="{% url 'profile_delete_confirm' %}" class="btn btn-danger">Delete Profile</a>
</div>

<h2 class="mt-4" style="text-align: center">Your Videos</h3>
<a href="{% url 'video_add' %}" class="btn btn-success mb-4">Add Video</a>
<div class="row">
    {% for video in videos %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ video.preview.url }}" class="card-img-top" alt="{{ video.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ video.title }}</h5>
                    <p class="card-text">{{ video.description }}</p>
                    <a href="{% url 'video_detail' video.id %}" class="btn btn-primary">Watch</a>
                    <a href="{% url 'video_edit' video.id %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'video_delete' video.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
